.about {
  height: auto;
  width: 100%;
}
.about p {
  font-family: 'Sorts Mill Goudy', serif;
}
.about #about {
  font-family: instagram, sans-serif;
}
.myphoto {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 auto;
}


@media(min-width:320px) {
  .about p {
    font-size: 20px;
  }
}
@media(min-width:768px) {
  .about p {
    font-size: 30px;
  }
  .myphoto {
    width: 170px;
    height: 170px;
  }
}


/* Amsterdam-ZVGqm */