
.about p {
  font-family: 'Sorts Mill Goudy', serif;
}


.about #about {
  font-family: instagram, sans-serif;
}



@media(min-width:320px) {
  .about p {
    font-size: 20px;
  }
}
@media(min-width:768px) {
  .about p {
    font-size: 30px;
  }
}


/* Amsterdam-ZVGqm */