.footer {
  height: auto;
}
.footer img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}
.footer .nav-item {
  list-style: none;
}
.nav-link {
  width: 4em;
}
.footer p {
  color: #fff;
  text-align: center;
  font-size: 1em;
}
.linkedin {
  fill: #0e76a8;
}
.twitter {
  fill: #00acee;
}

@media(max-width: 768pxpx) {
  .footer img {
    height: 100%;
    width: 200px;
    object-fit: cover;
  }
}

@media(min-width: 769px) {
  .footer img {
    max-height: 100%;
    width: 100px;
    object-fit: cover;
  }
}